<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}"/> 
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">京东商品展示</h3>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                   <h3 class="panel-title">商品信息列表</h3>
                 
            </div>
            <div class="panel-body">
                <div class="table table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <th class="text-center">商品图片</th>
                        <th class="text-center">商品名称</th>
                        <th class="text-center">商品价格</th>
                        <th class="text-center">店铺</th>
                        </thead>
                        <tbody class="text-center">
                        <tr th:each="goods : ${goodsList}">
                            <td><img src="img/1.jpg" th:src="${goods.img}" height="60"/></td>
                            <td th:text="${goods.title}"></td>
                            <td th:text="${goods.price}"></td>
                            <td th:text="${goods.shop}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>